<section class="authentication-card">
  <a [routerLink]="['/']" class="backlink">
    <img src="/img/arrow-left-line.png" alt="Arrow-Left" />
  </a>

  <div class="headline">
    <h2>Sign up</h2>
    <div class="headline-seperator"></div>
  </div>

  <form class="formgroup" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="inputs">
      <label class="border-success">
        <div><img src="/img/person.png" alt="Person" /></div>
        <input type="text" formControlName="person" placeholder="Name" />
      </label>

      <label
        [ngClass]="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            ? 'border-error'
            : 'border-success'
        "
      >
        <div><img src="/img/mail.png" alt="Mail" /></div>
        <input type="email" formControlName="email" placeholder="Email" />
      </label>

      @for (field of passwordFields; track $index) {
        <label
          [ngClass]="
            loginForm.hasError('passwordsMismatch') &&
            loginForm.get(field.controlName)?.touched
              ? 'border-error'
              : 'border-success'
          "
        >
          <div (click)="togglePassword($index)">
            @if (field.show && field.hasValue) {
              <img src="/img/visibility.png" alt="visibility_off" />
            } @else if (!field.show && field.hasValue) {
              <img src="/img/visibility_off.png" alt="visibility" />
            } @else {
              <img src="/img/lock.png" alt="Lock" />
            }
          </div>
          <input
            [type]="field.show ? 'text' : 'password'"
            [formControlName]="field.controlName"
            placeholder="{{ field.placeholder }}"
            (input)="updateValue($index, $event)"
          />
        </label>
      }

      <fieldset class="check-privacypolice">
        <div
          class="fake-checkbox"
          [class.checked]="loginForm.get('acceptPolicy')?.value"
        >
          <span (click)="togglePolicy()" class="checkbox-icon"></span>
          <span>I accept the <span>Privacy policy</span></span>
        </div>
      </fieldset>

      <!-- <fieldset class="check-privacypolice">
        <input type="checkbox" formControlName="acceptPolicy" />
        <span>I accept the <span>Privacy policy</span></span>
      </fieldset> -->
    </div>

    <div class="buttons">
      <button
        type="submit"
        class="main-btn hover-main-btn active-main-btn"
        [disabled]="loginForm.invalid"
      >
        Sign up
      </button>
    </div>
  </form>
</section>
