@use "./../../../../styles.scss" as *;

section {
  padding-top: calc(311px - 206px - 73px);
  @include displayFlex(column, flex-start, flex-start, 21px);
}

.headline {
  @include displayFlex(row, flex-start, center, 30px);

  h2 {
    @include styleFont("Inter", 61px, 700);
  }

  span {
    border: 1px solid var(--light-blue);
    align-self: stretch;
  }

  em {
    @include styleFont("Inter", 27px, 400);
    font-style: normal;
  }
}

.header {
  @include displayFlex(row, center, center, 54px);
}

.name {
  @include displayFlex(column, center, flex-start, 8px);

  span {
    @include styleFont("Inter", 47px, 500);
  }

  .edit-delete-contact {
    @include displayFlex(row, center, center, 24px);

    div {
      @include displayFlex(row, center, center, 8px);
      &:hover {
        cursor: pointer;
      }
    }

    span {
      @include styleFont("Inter", 16px, 400);
    }
  }
}

h3 {
  @include styleFont("Inter", 20px, 400);
  padding: 29.5px 0;
}

.contact-information {
  @include displayFlex(column, flex-start, flex-start, 22px);

  div {
    @include displayFlex(column, flex-start, flex-start, 15px);
    @include styleFont("Inter", 16px, 400);

    h4 {
      font-weight: 700;
    }
  }
}

.initials {
  border-radius: 70px;
  border: 3px solid #FFFF;
  box-shadow: 0px 0px 4px 0px #0000001A;
  width: 120px;
  height: 120px;
  @include displayFlex(row, center, center, 10px);

  div {
    span {
      @include styleFont('Inter', 47px, 500);
      color: #FFFF;
    }
  }
}