<section>
  <article class="header">
    <div class="initials">
      <img src="/img/Frame 79.png" alt="" />
    </div>
    <div class="name">
      <span>Tatjana Wolf</span>

      <div class="edit-delete-contact">
        <div>
          <img src="/img/edit.png" alt="edit" />
          <span>Edit</span>
        </div>

        <div>
          <img src="/img/delete.png" alt="edit" />
          <span>Delete</span>
        </div>
      </div>
    </div>
  </article>

  <h3>Contact Information</h3>

  <article class="contact-information">
    <div>
        <h4>Email</h4>
        <span>wolf(at)gmail.com</span>
    </div>

    <div>
        <h4>Phone</h4>
        <span>+49 2222 222 22 2</span>
    </div>
  </article>
</section>
