<section>
  @if (contact) {
    <div class="headline">
      <h2>Contacts</h2>
      <span></span>
      <em>Better with a team</em>
    </div>
    <article class="header">
      <div class="initials" [ngStyle]="{ 'background-color': contact.color }">
        <div>
          <span>{{ contact.initials }}</span>
        </div>
      </div>
      <div class="name">
        <span>{{ test?.name }}</span>

        <div class="edit-delete-contact">
          <div (click)="editContact()">
            <img src="/img/edit.png" alt="edit" />
            <span>Edit</span>
          </div>

          <div (click)="deleteContact(contact)">
            <img src="/img/delete.png" alt="delete" />
            <span>Delete</span>
          </div>
        </div>
      </div>
    </article>

    <h3>Contact Information</h3>

    <article class="contact-information">
      <div>
        <h4>Email</h4>
        <span>{{ contact.email }}</span>
      </div>

      <div>
        <h4>Phone</h4>
        <span>{{ contact.phoneNumber }}</span>
      </div>
    </article>
  } @else {
    <section></section>
  }
</section>
