<section>
  <article class="contacts">
    <button type="submit" class="main-btn hover-main-btn active-main-btn">
      Add new contact <img src="/img/person_add.png" alt="" />
    </button>

    <div class="contact-list">
      @for (contact of contacts$ | async; track $index) {
        @if (contact.firstContactperLetter) {
          <span class="letter">{{ contact.name.charAt(0) }}</span>
          <div class="separator"><div></div></div>
        }

        <div class="single-contacts" (click)="selectContact(contact)">
          <div class="initials-logo">
            <span>AA</span>
          </div>
          <div class="contact-email">
            <span>{{ contact.name }}</span>
            <span class="single-contact-email">{{ contact.email }}</span>
          </div>
        </div>
      }
    </div>
  </article>

  <article class="contact-detailview">
    <!-- <div>
      <h2>Contacts</h2>
      <span></span>
      <em>Better with a team</em>
    </div> -->
    <div class="details">
      <app-single-contact [contact]="selectedContact"></app-single-contact>
    </div>
  </article>
</section>
