@use './../../../styles.scss' as *;

section {
    @include displayFlex(row, flex-start center, 0);
    width: calc(100vw - var(--navsidebar-width));
}

.contacts {
    width: 456px;
    height: calc(100vh - 96px);
    padding: 32px 24px;
    background-color: var(--color-white);
    box-shadow: 4px 0px 6px 0px #00000014;
    @include displayFlex(column, flex-start, center, 0);

    button {
        padding: 12px;
        width: 352px;
        @include displayFlex(row, center, center, 16px);
    }
}

.contact-detailview {
    height: calc(100vh - 96px);
    width: calc(100vw - var(--navsidebar-width) - 743px);
    padding-left: calc(743px - var(--navsidebar-width) - 453px);
    padding-top: calc(206px - var(--header-height));
    flex: 1;
    div {
        @include displayFlex(row, flex-start, center, 30px);

        h2 {
            @include styleFont('Inter', 61px, 700)
        }

        span { 
            border: 1px solid var(--light-blue);
            align-self: stretch;
        }

        em {
            @include styleFont('Inter', 27px, 400);
            font-style: normal;
        }
    }
}