<section>
  <article class="contacts">
    <button type="submit" class="main-btn hover-main-btn active-main-btn">
      Add new contact <img src="/img/person_add.png" alt="" />
    </button>

    <div class="contact-list">
      @for (contact of contacts$ | async; track $index) {
        @if (contact.firstContactperLetter) {
          <span class="letter">{{ contact.name.charAt(0) }}</span>
          <div class="separator"><div></div></div>
        }

        <div class="single-contacts">
          <div class="initials-logo">
            <span>AA</span>
          </div>
          <div class="contact-email">
            <span>{{ contact.name }}</span>
            <span class="single-contact-email">{{ contact.email }}</span>
          </div>
        </div>
      }
    </div>

    <!-- <div class="contact-list">
      @if (false) {
        @for (
          i of [].constructor(26);
          let letterIndex = $index;
          track letterIndex
        ) {
          @for (
            contact of contacts$ | async;
            let contactIndex = $index;
            track contactIndex
          ) {
            @if (
              contact.name.charAt(0).toLowerCase() ==
              (letterIndex + 10).toString(36)
            ) {
              @if (!checkSameLetter(letterIndex)) {
                <span class="letter">{{
                  (letterIndex + 10).toString(36).toUpperCase()
                }}</span>
                <div class="separator"><div></div></div>
                {{ setCurrentLetter(letterIndex) }}
              }
              <div class="single-contacts">
                <div class="initials-logo">
                  <span>AA</span>
                </div>
                <div class="contact-email">
                  <span>{{ contact.name }}</span>
                  <span class="single-contact-email">{{ contact.email }}</span>
                </div>
              </div>
            }
          }
        }
      }
    </div> -->
  </article>

  <article class="contact-detailview">
    <div>
      <h2>Contacts</h2>
      <span></span>
      <em>Better with a team</em>
    </div>
    <div class="details">
      <router-outlet></router-outlet>
    </div>
  </article>
</section>
