@use "./../../../styles.scss" as *;

section {
  @include displayFlex(row, flex-start center, 0);
  width: calc(100vw - var(--navsidebar-width));
}

.contacts {
  width: 456px;
  height: calc(100vh - 96px);
  padding: 32px 24px;
  background-color: var(--color-white);
  box-shadow: 4px 0px 6px 0px #00000014;
  overflow-y: auto;
  @include displayFlex(column, flex-start, center, 0);

  button {
    padding: 12px;
    width: 352px;
    @include displayFlex(row, center, center, 16px);
  }
}

.contact-detailview {
  height: calc(100vh - 96px);
  width: calc(100vw - var(--navsidebar-width) - 743px);
  padding-left: calc(743px - var(--navsidebar-width) - 453px);
  padding-top: calc(206px - var(--header-height));
  flex: 1;
}

.contact-list {
  @include displayFlex(column, center, flex-start);
  width: 100%;
  width: 352px;

  .separator {
    width: 100%;
    padding: 8px 0;

    div {
      border: 1px solid var(--border-color);
    }
  }

  .letter {
    @include styleFont("Inter", 20px, 400);
    padding: 17px 36px;
  }

  .single-contacts {
    .contact-email {
      @include displayFlex(column, flex-start, flex-start, 5px);

      .single-contact-email {
        font-size: 16px;
        color: #007cee;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .initials-logo {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: green;
      @include displayFlex(row, center, center, unset);
    }

    padding: 15px 24px;
    @include displayFlex(row, flex-start, center, 35px);
    @include styleFont("Inter", 20px, 400);
  }
}

.add-new-contact {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  @include displayFlex(row, center, center, 0);

  div {
    background-color: white;
    border-radius: 30px;
    height: 594px;
  }
}
