<section>
  <article class="contacts">
    <button
      (click)="this.contactService.addNewContactWindow()"
      type="submit"
      class="main-btn hover-main-btn active-main-btn"
    >
      Add new contact <img src="/img/person_add.png" alt="" />
    </button>

    @if (newContactWindow) {
      <article class="add-new-contact">
        <div>
          <app-new-contact></app-new-contact>
        </div>
      </article>
    }

    <div class="contact-list">
      @for (contact of contacts$ | async; track $index) {
        @if (contact.firstContactperLetter) {
          <span class="letter">{{ contact.name.charAt(0) }}</span>
          <div class="separator"><div></div></div>
        }

        <div class="single-contacts" (click)="selectContact(contact)">
          <div
            class="initials-logo"
            [style.background-color]="contact.color"
          >
            <span>{{ contact.initials }}</span>
          </div>
          <div class="contact-email">
            <span>{{ contact.name }}</span>
            <span class="single-contact-email">{{ contact.email }}</span>
          </div>
        </div>
      }
    </div>
  </article>

  <article class="contact-detailview">
    <div class="details">
      <app-single-contact [contact]="selectedContact"></app-single-contact>
    </div>
  </article>
</section>
