<section>
  <article class="leftside-addcontact">
    <div class="logo">
      <img src="/img/logo_contacts.png" alt="" />
    </div>
    <div class="description">
      <div class="text">
        <p>Add Contact</p>
        <p class="small-text">Tasks are better with a team!</p>
      </div>
      <span></span>
    </div>
  </article>

  <article class="formsite">
    <form [formGroup]="contactForm" class="formgroup" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <div class="input-with-error">
          <label
            for="username"
            [ngClass]="loginError ? 'border-error' : 'border-success'"
          >
            <div>
              <img src="/img/person.png" alt="User" />
            </div>
            <input
              type="text"
              id="username"
              formControlName="name"
              placeholder="Username"
            />
          </label>
        </div>

        <div class="input-with-error">
          <label
            for="email"
            [ngClass]="loginError ? 'border-error' : 'border-success'"
          >
            <div>
              <img src="/img/mail.png" alt="Mail" />
            </div>
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="Email"
            />
          </label>
        </div>

        <div class="input-with-error">
          <label
            for="phoneNumber"
            [ngClass]="loginError ? 'border-error' : 'border-success'"
          >
            <div>
              <img src="/img/call.png" alt="Phone" />
            </div>
            <input
              type="tel"
              id="phoneNumber"
              formControlName="phoneNumber"
              placeholder="Phone"
            />
          </label>
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="main-btn hover-main-btn active-main-btn">
          Login
        </button>
      </div>
    </form>
  </article>
</section>
