@use '../../../styles.scss' as *;
@use '../authentication.component.scss';

.secondary-btn {
    color: var(--main-button-color);
    background-color: #FFFF;
    border: 1px solid var(--main-button-color);
    transition: all ease-in-out 100ms;
}