@use '../../../styles.scss' as *;
@use '../authentication.component.scss';

.guest-login-btn {
    color: var(--main-button-color);
    background-color: #FFFF;
    border: 1px solid var(--main-button-color);
}