<section class="authentication-card">
    <div class="headline">
        <h2>Log in</h2>
        <div class="headline-seperator"></div>
    </div>
  
    <form class="formgroup" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <div class="input-with-error">
          <label for="email" [ngClass]="loginError ? 'border-error' : 'border-success'">
            <div>
              <img src="/img/mail.png" alt="Mail">
            </div>
            <input 
              type="email" 
              formControlName="email" 
              placeholder="Email"
              id="email"
              (input)="setLoginError()"
            >
          </label>
        </div>
        
        <div class="input-with-error">
          <label for="password" [ngClass]="loginError ? 'border-error' : 'border-success'">
            <div>
              <img src="/img/lock.png" alt="Lock">
            </div>
            <input 
              type="password" 
              formControlName="password" 
              placeholder="Password"
              id="password"
              (input)="setLoginError()"
            >
          </label>
          @if (loginError) {
            <div class="error">Check your email and password. Please try again.</div>
          }
        </div>
      </div>
  
      <div class="buttons">
        <button type="submit" class="main-btn hover-main-btn active-main-btn" [disabled]="loginForm.invalid">
          Log in
        </button>
        <button type="button" class="main-btn secondary-btn" (click)="guestLogin()">
          Guest Log in
        </button>
      </div>
    </form>
  </section>