<section>
    <h2>Log in</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <input 
          type="email" 
          formControlName="email" 
          placeholder="Email"
        >
        <input 
          type="password" 
          formControlName="password" 
          placeholder="Password"
        >
      </div>
  
      <div class="buttons">
        <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
          Log in
        </button>
        <button type="button" (click)="guestLogin()">
          Guest Log in
        </button>
      </div>
    </form>
  </section>
  