@use '../../../styles.scss' as *;

section {
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
}

.login-btn {
    @include main-button(var(--main-button-color), 15px 24px);
    @include styleFont(21px, 700);
}