<section class="authentication-card">
    <div class="headline">
        <h2>Log in</h2>
        <div class="headline-seperator"></div>
    </div>
  
    <form class="formgroup" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="inputs">
        <label for="email">
          <div>
            <img src="/img/mail.png" alt="Mail">
          </div>
          <input 
          type="email" 
          formControlName="email" 
          placeholder="Email"
        >
        </label>

        <label for="password">
          <div>
            <img src="/img/lock.png" alt="Lock">
          </div>
          <input 
          type="password" 
          formControlName="password" 
          placeholder="Password"
        >
        </label>
      </div>
  
      <div class="buttons">
        <button type="submit" class="login-btn" [disabled]="loginForm.invalid">
          Log in
        </button>
        <button type="button" class="secondary-btn" (click)="guestLogin()">
          Guest Log in
        </button>
      </div>
    </form>
  </section>
  