:root {
  --blue: #06c;
  --background-color: #f6f7f8;
  --main-button-color: #2a3647;
  --icon: #a8a8a8;
  --light-blue: #29abe2;
  --border-color: #d1d1d1;
  --active-btn: #091931;

  --color-white: #ffffff;
  --color-balck: #2a3647;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.max-width {
  max-width: 1440px;
  margin: auto;
}

/* Mixins */

@mixin main-button($bgcolor, $pd) {
  background-color: $bgcolor;
  padding: $pd;
  border-radius: 8px;
  color: #ffff;
  border: none;
}

@mixin styleFont($family, $size, $weight, $lineHeight: 0) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin displayFlex($direction, $justify, $align, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

.main-btn {
  @include main-button(var(--main-button-color), 15px 24px);
  @include styleFont('Inter', 21px, 700, 120%);
}

/* Pseudo-Klassen */

.hover-main-btn:hover {
  background-color: var(--light-blue);
  cursor: pointer;
  transition: all ease-in-out 100ms;
}

.active-main-btn:active {
  background-color: var(--active-btn);
}

.secondary-btn {
  &:hover:not(:active) {
    cursor: pointer;
    border: 1px solid var(--light-blue);
    color: var(--light-blue);
  }

  &:active {
    color: var(--main-button-color);
    border: 1px solid var(--main-button-color);  }
}
