@use './../../styles.scss' as *;

section {
    width: 100%;
    @include displayFlex(column, space-between, center, 0);
    background-color: var(--background-color);
    padding: 60px 0;
}

.main-logo {
    position: absolute;
    z-index: 6;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveLogo 3s forwards;
    animation-delay: 2s;
    img {
        animation: imageSize 3s forwards;
        animation-delay: 2s;
    }
}

.authentication-card {
    background-color: #fFFF;
    padding: 48px 115px;
    @include displayFlex(column, center, center, 32px);
    border-radius: 30px;
}

.height-100 {
    height: 100vh;
}

.p-relative {
    position: relative;
}

.login-header {
    width:100%;
    @include displayFlex(row, flex-end, flex-start, 0);

    .forwarding-signup {
        @include displayFlex(row, center, center, 35px);

        span {
            @include styleFont('Inter', 20px, 400, 120%);
        }
    }
}

.signup-btn {
    @include main-button(var(--main-button-color), 15px 16px);
    @include styleFont('Inter', 16px, 700, 120%);
}

.legals {
    display: flex;
    gap: 12px;

    article {
        padding: 8px;

        a {
            text-decoration: none;
            color: var(--icon);
            @include styleFont('Inter', 16px, 400, 120%);

            &:hover {
                cursor: pointer;
                color: var(--light-blue);
                font-weight: 700;
                transition: all ease-in-out 100ms;
            }
        }
    }
}

.formgroup {
    @include displayFlex(column, center, center, 32px);

    .inputs {
        @include displayFlex(column, center, center, 32px);
        width: 100%;
        label {
            @include displayFlex(row-reverse, center, center, 0);
            padding: 12px 21px;
            border-radius: 10px;
            input {
                width: 380px;
                height: 24px;
                border: none;
                outline: none;
                box-shadow: none;
                background: none;
                appearance: none;
                -webkit-appearance: none;
                @include styleFont('Inter', 20px, 400, 120%);
            }
            div {
                @include displayFlex(row, center, center, 0);
                width: 24px;
                height: 24px;
            }
            ::placeholder {
                @include styleFont('Inter', 20px, 400, 120%);
                color: var(--border-color);
            }
        }
    }

    .buttons {
        @include displayFlex(row, center, center, 35px);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    @include styleFont('Inter', 20px, 400, 120%);
}


.input-with-error {
    @include displayFlex(column, center, flex-start, 8px);
    position: relative;

    .error {
        margin-top: 8px;
        @include styleFont('Inter', 13px, 400, 120%);
        color: var(--color-red-error);
        position: absolute;
        top: 100%;
    }
}

.headline {
    h2 {
        @include styleFont('Inter', 61px, 700, normal);
    }
    @include displayFlex(column, center, center, 16px);

    .headline-seperator {
        border-bottom: 3px solid var(--light-blue);
        width: 50%;
    }
}

.startscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: #F6F7F8;
    animation: disappear-startscreen 3s forwards;
    animation-delay: 2s;
}

.border-error {
    border: 1px solid var(--color-red-error);
}

.border-success {
    border: 1px solid var(--border-color);
}

@keyframes disappear-startscreen {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes moveLogo {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    100% {
        top: 60px;
        left: 0;
        right: auto;
        transform: none;
    }
  }

@keyframes imageSize {
    0% {
        width: 274px;
        height: 334.07px;
    }
    100% {
        width: 100.3px;
        height: 121.97px;
    }
}