<section class="max-width height-100 p-relative">
    <aside class="main-logo">
        <img src="/img/logo_start.png" alt="Logo_Join">
    </aside>
    <div class="startscreen"></div>
    <div class="login-header">
        @if (Router.url === '/') {
            <aside class="forwarding-signup">
                <span>Not a Join user?</span>
                <button [routerLink]="['/signup']" class="signup-btn hover-main-btn active-main-btn">Sign up</button>
            </aside>
        }
    </div>
    <article>
        <router-outlet />
    </article>
    <div class="legals">
        <article>
            <a href="#">Privacy Police</a>
        </article>
        <article>
            <a href="#">Legal Notice</a>
        </article>
    </div>
</section>