@use './../../styles.scss' as *;

section {
    width: 100%;
    @include displayFlex(column, space-around, center, 0);
    background-color: var(--background-color);
}

.authentication-card {
    background-color: #fFFF;
    padding: 48px 115px;
    @include displayFlex(column, center, center, 32px);
    border-radius: 30px;
}

.height-100 {
    height: 100vh;
}

.login-header {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.signup-btn {
    @include main-button(var(--main-button-color), 15px 16px)
}

.legals {
    display: flex;
    gap: 12px;

    a {
        text-decoration: none;
        color: var(--icon);
    }
}

.formgroup {
    @include displayFlex(column, center, center, 32px);

    .inputs {
        @include displayFlex(column, center, center, 20px);
        width: 100%;
        label {
            @include displayFlex(row-reverse, center, center, 0);
            padding: 12px 21px;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            input {
                width: 380px;
                height: 24px;
                border: none;
                outline: none;
                box-shadow: none;
                background: none;
                appearance: none;
                -webkit-appearance: none;
                @include styleFont('Inter', 20px, 400, 120%);
            }
            div {
                @include displayFlex(row, center, center, 0);
                width: 24px;
                height: 24px;
            }
            ::placeholder {
                @include styleFont('Inter', 20px, 400, 120%);
                color: var(--border-color);
            }
        }
    }

    .buttons {
        @include displayFlex(row, center, center, 35px);
    }
}

.headline {
    h2 {
        @include styleFont('Inter', 61px, 700, normal);
    }
    @include displayFlex(column, center, center, 16px);

    .headline-seperator {
        border-bottom: 3px solid var(--seperator-color);
        width: 50%;
    }
}