<section class="max-width height-100">
    <div class="login-header">
        <aside>
            <img src="/img/logo_join.png" alt="Logo_Join">
        </aside>
        @if (Router.url === '/login') {
            <aside class="forwarding-signup">
                <span>Not a Join user?</span>
                <button [routerLink]="['/signup']" class="signup-btn hover-main-btn active-main-btn">Sign up</button>
            </aside>
        }
    </div>
    <article>
        <router-outlet />
    </article>
    <div class="legals">
        <article>
            <a href="#">Privacy Police</a>
        </article>
        <article>
            <a href="#">Legal Notice</a>
        </article>
    </div>
</section>