<section class="summary-wrapper">

  <div class="headline-wrapper">
    <h1>Join 360</h1>
    <div class="seperator"></div>
    <span>Key Metrics at a Glance</span>
  </div>

  <div class="info-wrapper">

    <div class="task-overview">

      <!--- Task-overview -> First row --->
      <div class="to-do-done-container">
        <div class="d-flex-row-center-gap18px container-shape">
          <div class="edit-icon icon-size"></div>
          <div class="d-flex-column-space-between">
            <span>1</span>
            <span>To-do</span>
          </div>
        </div>

        <div class="d-flex-row-center-gap18px container-shape">
          <div class="done-icon icon-size"></div>
          <div class="d-flex-column-space-between">
            <span>1</span>
            <span>Done</span>
          </div>
        </div>
      </div>

      <!--- Task-overview -> Second row --->
      <div class="priority-container container-shape">
        <div class="d-flex-row-center-gap18px">
          <div class="priority-icon-wrapper">
            <div class="urgent-icon icon-size"></div>
          </div>
          <div class="d-flex-column-space-between">
            <span>1</span>
            <span>Urgent</span>
          </div>
        </div>

        <div class="seperator"></div>

        <div>
          <span>October 16, 2022</span>
          <span>Upcoming Deadline</span>
        </div>
      </div>

      <!--- Task-overview -> Third row --->
      <div class="task-counter-wrapper">
        <div class="d-flex-column-space-between container-shape">
          <span>5</span>
          <span>Tasks in<br>
            Board
          </span>
        </div>

        <div class="d-flex-column-space-between container-shape">
          <span>2</span>
          <span>Tasks in<br>
            Progress
          </span>
        </div>

        <div class="d-flex-column-space-between container-shape">
          <span>2</span>
          <span>Tasks in<br>
            Feedback
          </span>
        </div>
      </div>
    </div>

    <div class="greetings-wrapper">
      <span class="greeting">Good morning,<br>
        <b class="greeting-name">Sofia Müller</b>
      </span>
    </div>

  </div>

</section>
