@use './../../../styles.scss' as *;

.summary-wrapper {
  @include displayFlex(column, center, flex-start, 48px);

  font-family: Inter;
}

.headline-wrapper {
  @include displayFlex(row, center, center, 30px);

  > h1 {
    font-size: 61px;
    font-weight: 700;
  }

  .seperator {
    height: 59px;
    width: 3px;

    background-color: var(--light-blue);
  }

  > span {
    font-size: 27px;
    font-weight: 40px;
  }
}

.info-wrapper {
  @include displayFlex(row, center, center, 80px);
}

.task-overview {
  @include displayFlex(column, center, center, 30px);
}

.to-do-done-container {
  @include displayFlex(row, center, center, 30px);

  > div {
    @include displayFlex(row, center, center, 18px);
    background-color: var(--color-white);
    box-shadow: 0px 0px 4px 0px rgba(0 0 0 / 10%);
    border-radius: 30px;
    padding: 38px 58px;

    div:last-child {
      @include displayFlex(column, space-between, center);
      width: 63px;
      height: 101px;

      span:first-child {
        font-size: 64px;
        font-weight: 600;
      }

      span:last-child {
        font-size: 20px;
        font-weight: 400;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-black);
      transform: scale(1.05);
      span {
        color: var(--color-white);
      }

      &:has(.edit-icon) {
        .edit-icon {
          background-image: url('/img/summary_edit_icon_white.png');
        }
      }

      &:has(.done-icon) {
        .done-icon {
          background-image: url('/img/summary_done_icon_white.png');
        }
      }
    }
  }
}

.priority-container {
  @include displayFlex(row, center, center, 61px);

  width: 100%;

  padding: 28px 48px;
}

.icon-size {
  width: 69px;
  height: 69px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.edit-icon {
  background-image: url('/img/summary_edit_icon_black.png');
}

.done-icon {
  background-image: url('/img/summary_done_icon_black.png');
}

.urgent-icon {
  background-image: url('/img/add_task_urgent_icon_white.png');
  background-color: var(--color-red-urgent);

  border-radius: 50%;

  width: 34.19px;
  height: 25.12px;
}

.greetings-wrapper {
  span {
    font-size: 47px;
    font-weight: 500;

    .greeting-name {
      font-size: 64px;
      font-weight: 700;
      color: var(--light-blue);
    }
  }
}
