<section class="summary-wrapper">

  <div class="headline-wrapper">
    <h1>Join 360</h1>
    <div class="seperator"></div>
    <span>Key Metrics at a Glance</span>
  </div>

  <div class="info-wrapper">

    <div class="task-overview">
      <div class="to-do-done-container">
        <div>
          <div class="edit-icon icon-size"></div>
          <div>
            <span>1</span>
            <span>To-do</span>
          </div>
        </div>

        <div>
          <div class="done-icon icon-size"></div>
          <div>
            <span>1</span>
            <span>Done</span>
          </div>
        </div>
      </div>

      <div class="priority-container">
        <div>
          <div class="urgent-icon icon-size"></div>
          <div>
            <span>1</span>
            <span>Done</span>
          </div>
        </div>

        <div class="seperator"></div>

        <div>
          <span>October 16, 2022</span>
          <br>
          <span>Upcoming Deadline</span>
        </div>
      </div>
    </div>

    <div class="greetings-wrapper">
      <span class="greeting">Good morning,<br>
      <b class="greeting-name">Sofia Müller</b></span>
    </div>

  </div>

</section>
